.body-embed_olapodcast{
    &.dark-ui-embed_olapodcast{
        background: #000;
    }
}
.dark-ui-embed_olapodcast{
    .scrollhere,
    .scrollola{
        
        scrollbar-color: #373737 transparent;
        scrollbar-width: thin;
        &::-webkit-scrollbar-track {
            background: #EEE3F6;
            border-radius: 5px;
        }
        &::-webkit-scrollbar {
            width: 9px;
            height: 9px;
            scroll-behavior: smooth;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track:hover {
            background: #202020;
            border-radius: 5px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #373737;
            border-radius: 5px;
            cursor: pointer;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #373737;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .main-embed_olapodcast{
        border: none;
        .header-embed_olapodcast{
            .top-box-embed_olapodcast{
                border-bottom: none;
                .cta-box-embed_olapodcast{
                    svg{
                        path{
                            &:nth-child(13),
                            &:nth-child(14),
                            &:nth-child(15),
                            &:nth-child(16),
                            &:nth-child(17),
                            &:nth-child(18),
                            &:nth-child(19),
                            &:nth-child(20),
                            &:nth-child(21),
                            &:nth-child(22),
                            &:nth-child(23){
                                fill: #fff;
                            }
                        }
                    }
                    .btn-embed_olapodcast{
                    }
                }
            }
            .player-embed_olapodcast{
                border-bottom: none;
                .top-player-embed_olapodcast{
                    .div-play-embed_olapodcast{
                        button{
                            svg{
                                &.pause{
                                    path{
                                        fill: #FFCA00;
                                    }
                                }
                                &.play{
                                    path{
                                        fill: #fff;
                                    }
                                }
                            }
                        }
        
                    }
                    .infos-box-embed_olapodcast{
                        h2{
                            color: #fff;
                        }
                    }
                    .cta-box-embed_olapodcast{
                        svg{
                            path{
                                &:nth-child(13),
                                &:nth-child(14),
                                &:nth-child(15),
                                &:nth-child(16),
                                &:nth-child(17),
                                &:nth-child(18),
                                &:nth-child(19),
                                &:nth-child(20),
                                &:nth-child(21),
                                &:nth-child(22),
                                &:nth-child(23){
                                    fill: #fff;
                                }
                            }
                        }
                        .btn-embed_olapodcast{
                            background: #214EE3;
                            color: #fff;
                        }
                    }
                }
                .bottom-player-embed_olapodcast{
                    .players-bar-slider-embed_olapodcast{
                        .progress-bar-time-embed_olapodcast{
                            color: #fff;
                        }
                        .progress-bar-embed_olapodcast{
                            .progress-bar_bg-embed_olapodcast{
                                background: #F2F2F2;
                            }
                            .progress-bar_track-embed_olapodcast{
                                background: #FFCA00;
                            
                                background: transparent;
                            

                                /* para o Fire Fox */
                                &::-moz-range-thumb {
                                    background: #FFCA00;
                                }
                                
                                /* para browsers da MS */
                                &::-ms-range-thumb {
                                    background: #FFCA00;
                                }
                                
                                &::-webkit-slider-thumb{
                                    background: #FFCA00;
                                }
    
                                &::-ms-fill-lower{
                                    background: #FFCA00;
                                }
    
                                &::-moz-range-progress {
                                    background: #FFCA00;
                                }

                                //Estilo do Progress
                                &::-webkit-progress-bar {
                                    background-color: #F2F2F2;
                                }
                                &::-webkit-progress-value{
                                    background-color: #FFCA00;
                                }
                            }
                            .progress-bar_handle-embed_olapodcast{
                                background: #FFCA00;
                            }
                        }
                    }
        
                }
            }
        }
        .playlist-embed_olapodcast{
            background: #212020;
            .acc-content-embed_olapodcast{
                .inner{
                    border-bottom: none;
                    .header-playlist{
                        span{
                            color: #fff;
    
                        }
                    }
                    .ul-embed_olapodcast{
                        li{
                            .list-playlis-embed_olapodcast{
                                background: #343434;
    
                                .default{
                                    svg{
                                        path{
                                            fill: #fff;
                                        }
                                    }
                                }
                                .name-epi{
                                    span{
                                        color: #fff;
                                    }
                                }
                                .timer-epi{
                                    span{
                                        color: #fff;
                                    }
                                }
                                
                                &.playing{
                                    .default{
                                        .pause{
                                            rect{
                                                fill: #FFCA00 !important;
                                            }
                                        }
                                    }
                                    .name-epi{
                                        span{
                                            color: #FFCA00 !important;
                                        }
                                    }
                                    .timer-epi{
                                        span{
                                            color: #FFCA00 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header-acc-embed_olapodcast{
                //border-bottom: 1px solid #E2E2E2;
                background: #181818;
                span{
                    color: #fff;
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                    
                }
            }
        }
    }
}